html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 250px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    /* display: flex;
align-items: flex-end; */
    font-weight: bold;
    letter-spacing: 2.30625px;
    color: #48555B;
    
}

/* Секция About */
.about {
    padding-top: 57px;
    padding-bottom: 118px;
}
.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 0 auto;
}

.about__title{
    margin-bottom: 10px;
    text-align: center;
}

.about__block {
    display: flex;
    justify-content: center;
}
.about__block__text {
    margin-right: 77px;
}
.about__text__title {
font-size: 20px;
line-height: 23px;
letter-spacing: 0.1875px;
color: #48555B;
max-width: 405px;
font-weight: bold;
}
.accent_color {
    color: #00A4E5;

}
.about__text__text {
font-size: 13px;
line-height: 23px;
align-items: center;
letter-spacing: 0.1875px;
color: #48555B;
font-weight: 400;
max-width: 405px;


}
.about__block__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: end;
}
.about-item {
font-family: 'OpenSans';
font-size: 24px;
line-height: 29px;
align-items: center;
letter-spacing: 0.1875px;
font-weight: 800;
color: #FFFFFF;
width: 140px;
height: 224px;
text-transform: uppercase;
padding: 15px 16px 151px 14px;
margin-bottom: 15px;
}
.about-item:nth-child(1){
    background-image: url(../img/about-img-1.jpg);
}
.about-item:nth-child(2){
    background-image: url(../img/about-img-2.jpg);
}
.about-item:nth-child(3){
    background-image: url(../img/about-img-3.jpg);
}


/* Медиазапросы */
@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
    
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
    .about__block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about__block__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 500px) {
    .about__block__img {
        grid-template-columns: repeat(1, 1fr);
}
}