html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

button{
    outline: none;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 250px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    /* display: flex;
align-items: flex-end; */
    font-weight: bold;
    letter-spacing: 2.30625px;
    color: #48555B;
    margin-bottom: 10px;

}

/* Секция header */
.header__section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 769px;
}

.header__inner {
    text-align: center;
    padding-top: 41px;
}

.logo__white {
    display: block;
    max-width: 102px;
    max-height: 23px;
    /* margin-bottom: 317px; */

}

.header__logo {
    margin: 0 auto;
}

.header__title {
    font-family: 'Bebas Neue';
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 308px;
    /* margin-bottom: 11px; */
}

.header__title__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 221px;
}

.header__text {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 71px;
    text-decoration: none;
}


/* Секция Navbar */
.navbar {
    padding-top: 25px;
    padding-bottom: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__black {
    max-width: 80px;
    max-height: 18px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li {
    list-style: none;
    margin-right: 34px;
}

.menu a {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    color: #48555B;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

}

.menu a:hover {
    color: #00A4E5;
}


/* Секция About */
#about {
    padding-top: 52px;
    padding-bottom: 118px;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 0 auto;
    margin-bottom: 57px;
}

.about__title {
    margin-bottom: 11px;
    text-align: center;
}

.about__block {
    display: flex;
    justify-content: space-between;
}

.about__block__text {
    margin-right: 77px;
}

.about__text__title {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    max-width: 405px;
    font-weight: bold;
    margin-bottom: 43px;
}


.accent_color {
    color: #00A4E5;

}

.about__text__text {
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.1875px;
    color: #48555B;
    font-weight: 400;
    max-width: 405px;


}

.about__block__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: end;
}

.about-item {
    font-family: 'OpenSans';
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.1875px;
    font-weight: 800;
    color: #FFFFFF;
    width: 140px;
    height: 224px;
    text-transform: uppercase;
    padding: 15px 16px 151px 14px;

}

.about-item:nth-child(1) {
    background-image: url(../img/about-img-1.jpg);
}

.about-item:nth-child(2) {
    background-image: url(../img/about-img-2.jpg);
}

.about-item:nth-child(3) {
    background-image: url(../img/about-img-3.jpg);
}

/* Секция services */
#services {
    /* padding-top: 118px; */
    padding-bottom: 115px;
}

.services__inner {}

.services__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;

}

.h2__title-h2 {
    margin-bottom: 14px;
}

.line {}

.services__line {
    margin-left: 0;
}

.services__title_text-btn {
    display: flex;
}

.services__title__text {
    max-width: 405px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    font-weight: 400;
    margin-right: 32px;
}

.services__title__btn {
    background-color: #00A4E5;
    border: none;
    max-width: 150px;
    max-height: 40px;
    padding: 0 25px;
}

.services__title__btn:hover {
    background-color: #31718a;

}
.services__title__btn a{
font-size: 13px;
line-height: 15px;
text-align: center;
letter-spacing: 0.5px;
color: #FFFFFF;
text-decoration: none;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.services__grid-item {
    padding: 38px 23px 39px 20px;
border: #E6E6E6 solid 1px;

}

.services__img {
    display: block;
    max-width: 66px;
    max-height: 75px;
    margin-bottom: 25px;

}

.services__grid__title {
text-transform: uppercase;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.426667px;
color: #48555B;
font-weight: bold;
margin-bottom: 13px;

}

.services__grid__text {
font-weight: 400;
font-size: 13px;
line-height: 23px;
letter-spacing: 0.1875px;
color: #48555B;
}

/* Секция get_it_touch */
#get_it_touch{
    min-height: 499px;
    background-image: url(../img/get-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.get__title {
font-size: 30px;
line-height: 36px;
letter-spacing: 0.15px;
font-weight: bold;
color: #48555B;
text-align: center;
max-width: 350px;
margin: 0 auto;
margin-bottom: 35px;
padding-top: 120px;
}
.get__btn {
    margin: 0 auto;
    background-color: #00A4E5;
    max-width: 150px; ;
    max-height: 40px;
    padding: 11px 26px;
    border: none;
    
    
    
}
.get__btn a{
font-size: 13px;
line-height: 15px;
text-align: center;
/* letter-spacing: 0.5px; */
font-weight: bold;
color: #FFFFFF;
text-transform: uppercase;
text-decoration: none;
}

.get__btn:hover {
    background-color: #31718a;
    transition: 0.5s ease;
    transform: scale(1.1);
}

/* Секция newsletter */
#newsletter {
    background-color: #171819;
    padding-top: 27px;
    padding-bottom: 30px;
}

.newsletter__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter__title {
font-size: 22px;
line-height: 26px;
letter-spacing: 0.846154px;
color: #FFFFFF;
margin-right: 74px;
}


.newsletter__btn input {
    width: 250px;
    height: 37px;
    margin-right: -3px;
    border: none;

}

.nl__btn{
    padding: 11px 44px;
}


/* Секция contact */
#contact{
    background-color: #141A20;
    padding-top: 42px;
    padding-bottom: 36px;
}

.footer__inner{
    display: flex;
}
.company {
    max-width: 250px;
    margin-right: 71px;

}
.company__h4 {
font-size: 11px;
line-height: 13px;
letter-spacing: 0.846154px;
color: #FFFFFF;
font-weight: 400;
text-transform: uppercase;
margin-bottom: 17px;
}
.company .logo__white {
    margin-bottom: 20px;
}
.company__text {
font-size: 10px;
line-height: 17px;
letter-spacing: 0.85px;
font-weight: 400;
color: #FFFFFF;
margin-bottom: 10px;

}
.links__h4 {
font-size: 11px;
line-height: 13px;
letter-spacing: 0.846154px;
font-weight: 400;
color: #FFFFFF;
text-transform: uppercase;
margin-bottom: 13px;
}
.links__flex__item{
display: flex;
margin-right: 58px;
}

.links__item{
    margin-right: 38px;
}

.links__item:last-child{
    margin-right: 0;
}
.links__item li{
    list-style: none;
}
.links__item a {
    text-transform: uppercase;
    text-decoration: none;
font-size: 11px;
line-height: 25px;
font-weight: 600;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.footer__contacts {
    max-width: 127px;
    margin-right: 80px;
}
.footer__icons {
    display: flex;
}

.footer__icons:last-child{
    margin-right: 0;
}
.contact__img {
width: 12.04px;
height: 12.04px;
margin-right: 22px;
color: #FFFFFF;
margin-top: 30px;
}

.contact__img:hover{
    transition: 0.5s ease;
    transform: scale(1.5);
    }
/* Секция coopyright */
.coopyright{
    background-color: #171819;
    padding-top: 23px;
    padding-bottom: 22px;
}
.coopy__text{
font-size: 11px;
line-height: 13px;
letter-spacing: 0.846154px;
color: #FFFFFF;
font-weight: 400;
text-align: center;


}

/* Медиазапросы */
@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    .about__block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .about__block__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 812px){
    .about__block__text{
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .about__block__img {
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        margin: 0 auto;
    }
    .services__grid__text{
        text-align: justify;
    }
    .newsletter__btn input{
        margin-bottom: 5px;
    }

    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    .company{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 611px) {
    .header__title__text {
        margin-bottom: 200px;
    }

    .navigation {
        flex-direction: column;
        justify-content: center;

    }

    .logo__black {
        display: block;
        margin-bottom: 30px;
    }

    .about__block{
        max-width: 550px;
        flex-direction: column;
    }
    .about__block__img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .services__grid {
        grid-template-columns: repeat(2, 1fr);
    }
.services__title {
    flex-direction: column;
    align-items: center;
    
    }
    .line{
        margin-bottom: 15px;
        margin: 0 auto;
    }
    .services__title_text-btn{
        flex-direction: column;
        margin: 0 auto;
    }
    .services__title__text{
        margin-bottom: 10px;
        text-align: justify;
        margin: 0 auto;
    }

.services__title__btn{
    margin: 0 auto;
}

.newsletter__inner{
    justify-content: space-between;
}

.newsletter__btn{
    display: flex;
    flex-direction: column;
}

}

@media screen and (max-width: 500px) {
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    #about{
        padding-bottom: 30px;
    }

    .about__block__img {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .about__block__text{
        text-align: justify;
        margin: 0 auto;
    }

    .about__block {
        flex-direction: column;
        align-items: center;
    }

    #services{
        padding-top: 52px;
    }

    
    .services__line{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .services__grid {
        grid-template-columns: repeat(1,1fr);
    }

    .services__grid-item{
        justify-items: center;
    }
    

    .services__title_text-btn {
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin: 0 auto;
    }
    .services__title__text{
        margin-bottom: 10px;
    }
 .links{
    margin-bottom: 10px;
 }

}

@media screen and (max-width: 415px) {
    .header__title__text {
        margin-bottom: 150px;
        font-size: 12px;
    }
    .header__title{
        font-size: 30px;
    }

    h2{
        font-size: 13px;
    }

    .about__block__text{
        margin-bottom: 10px;
    }
    .about__text__title {
        font-size: 11px;
}
.about__text__text{
    font-size: 11px;
}
.services__title__text{
    font-size: 11px;
}

.services__grid__text{
    font-size: 11px;
}

.newsletter__inner{
    flex-direction: column;
}

.newsletter__title{
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 10px;
}
}